* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

.container {
  display: flex;
  background-color: wheat;
  align-items: center;
  row-gap: 10px;
  flex-direction: column;
  height: 100vh;
}
.nav {
  font-size: xx-large;
  background-color: brown;
  width: 100%;
  display: flex;
  justify-content: center;
  color: wheat;
  padding: 15px;
}
.gameTemplate {
  align-items: center;
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.btn {
  height: 40px;
  width: 40px;
  padding: 40px;
  border-color: brown;
  background-color: rgb(229, 211, 179);
  font-size: x-large;
  font-weight: 500;
  cursor: pointer;
}
.playagain {
  margin: 10px;
  background-color: brown;
  color: wheat;
  border-color: brown;
  padding: 6px;
  font-size: medium;
  font-weight: 400;
  cursor: pointer;
  box-shadow: none;
  border-radius: 5px;
}
.playagain:hover {
  background-color: rgb(145, 38, 38);
}
.newgame {
  margin: 10px;
  background-color: green;
  color: wheat;
  border-color: green;
  padding: 6px;
  font-size: medium;
  font-weight: 400;
  cursor: pointer;
  box-shadow: none;
  border-radius: 5px;
}
.newgame:hover {
  background-color: rgb(2, 104, 2);
}
.msg {
  color: rgb(1, 143, 1);
  font-size: x-large;
  font-weight: 500;
}
.msgcontainer {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.hide {
  display: none;
}
